<div class="col-4 col-s-6">
  <div class="product-card">
    <div class="prod-card-img text-center">
      <!-- Add to cart + quick view -->
      <div class="prod-card-badge">
        <div>
          <product-form>
            <form method="post" action="/cart/add" class="product-form">
              <input type="hidden" name="form_type" value="product">
              <input type="hidden" name="utf8">
              <input
                type="hidden"
                name="id"
                value="{{  product.selected_or_first_available_variant.id }}"
              >
              <input type="hidden" name="product-type" value="{{ product.type }}">
              <input type="hidden" name="quantity" value="1">

              {% comment %} product tags functionality {% endcomment %}

              {% assign cart_item_tag = '' %}
              {{ cart_item_tag }}
              {% if cart.item_count > 0 %}
                {% for item in cart.items %}
                  {% for tag in item.product.tags %}
                    {% if tag contains '@' %}
                      {% assign cart_item_tag = tag %}
                    {% endif %}
                    {% break %}
                  {% endfor %}
                {% endfor %}
              {% endif %}
              {{ cart_item_tag }}
              {% assign active_cart_tag = '' %}
              {% for tag in product.tags %}
                {% if tag contains '@' %}
                  {% assign active_cart_tag = tag %}
                {% endif %}
              {% endfor %}
              {{ active_cart_tag }}

              <button
                type="submit"
                class="product-form__submit"
                data-product-tag="{{ active_cart_tag }}"
                {% if cart_item_tag != '' and active_cart_tag != '' and cart_item_tag != active_cart_tag %}
                  disabled
                  style="opacity: 0.5; "
                {% endif %}
              >
                <img
                  width=""
                  height=""
                  src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/cart-icon.png?v=1751865122"
                  alt="Add to Cart"
                >
              </button>

            

              {% comment %}
                {% assign cart_type = cart.items[0].product.type %}
                {% assign product_type = product.type %}
                  {{ cart_type }}
                {{ product_type }}
              {% endcomment %}

              {% comment %} product type functionality  {% endcomment %}
              {% comment %}
                {% assign cart_item_type = '' %}
                {{ cart_item_type }}
                {% if cart.item_count > 0 %}
                  {% for item in cart.items %}
                    {% if item.product.type != blank %}
                      {% assign cart_item_type = item.product.type %}
                      {{ cart_item_type }}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                {% endif %}

                {% comment %}
                  <button type="submit" class="product-form__submit " data-product-type="{{ product.type }}"
                  {% if cart_item_type == '' %}
                    {% else %}
                      {% if product.type == '' or cart_item_type == product.type %}
                        {% else %}
                          disabled
                      {% endif %}
                  {% endif %}>
                    <img
                      width=""
                      height=""
                      src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/cart-icon.png?v=1751865122"
                      alt="Add to Cart"
                    >
                  </button>
                {% endcomment %}

                {% if cart_item_type == '' %}
                  111111111111
                  <button type="submit" class="product-form__submit " data-product-type="{{ product.type }}">
                    <img
                      width=""
                      height=""
                      src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/cart-icon.png?v=1751865122"
                      alt="Add to Cart"
                    >
                  </button>
                {% else %}
                  {% if product.type != '' %}
                    {% if cart_item_type == product.type %}
                      show type
                      <button type="submit" class="product-form__submit " data-product-type="{{ product.type }}">
                        <img
                          width=""
                          height=""
                          src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/cart-icon.png?v=1751865122"
                          alt="Add to Cart"
                        >
                      </button>
                    {% else %}
                      <button type="submit" class="product-form__submit " data-product-type="{{ product.type }}" disabled>
                        <img
                          width=""
                          height=""
                          src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/cart-icon.png?v=1751865122"
                          alt="Add to Cart"
                        >
                      </button>
                    {% endif %}
                  {% else %}
                    <button type="submit" class="product-form__submit " data-product-type="{{ product.type }}">
                      <img
                        width=""
                        height=""
                        src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/cart-icon.png?v=1751865122"
                        alt="Add to Cart"
                      >
                    </button>
                  {% endif %}
                {% endif %}
              {% endcomment %}
              {% comment %} product type functionality end  {% endcomment %}

              {% comment %}
                <button type="submit" class="product-form__submit " data-product-type="{{ product.type }}">
                  <img
                    width=""
                    height=""
                    src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/cart-icon.png?v=1751865122"
                    alt="Add to Cart"
                  >
                </button>
              {% endcomment %}

              {% comment %}
                {% if cart_type != null %}
                      {% if cart_type == product_type %}
                      <button type="submit" class="product-form__submit "  data-product-type="{{ product.type }}">
                    <img width="" height=""
                      src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/cart-icon.png?v=1751865122"
                      alt="Add to Cart"
                    >
                  </button>
                  {% endif %}

                {% else %}
                  <button type="submit" class="product-form__submit"  data-product-type="{{ product.type }}">
                    <img width="" height=""
                      src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/cart-icon.png?v=1751865122"
                      alt="Add to Cart"
                    >

                  </button>
                    {% endif %}
              {% endcomment %}
            </form>
          </product-form>
        </div>
        <div>
          <a href="#" class="quick-view" data-product-handle="{{ product.handle }}">
            <img
              width=""
              height=""
              src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/zoom.png?v=1751865146"
              alt="zoom"
            >
          </a>
        </div>
      </div>

      <div class="prod-img">
        {% if product.featured_image != blank %}
          <a href="{{ product.url }}">
            <img
              width=""
              height=""
              src="{{ product.featured_image | image_url: width: 600 }}"
              alt="{{ product.title }}"
            >
          </a>
        {% endif %}
      </div>

      {% if product.variants.size > 1 %}
        <div class="prod-color mb-1">
          <ul>
            {% assign colors = product.variants | map: 'option1' | uniq %}
            {% for color in colors %}
              {% assign color_down = color | downcase %}
              <li>
                <span
                  href="#"
                  class="card-color-swatch"
                  style="background-color: {{ color_down }};"
                  title="{{ color }}"
                ></span>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="prod-size-on-hover" style="margin-top: 8px;">
          <ul style="display: flex; flex-wrap: wrap; gap: 6px; padding: 0; margin:0; list-style: none; text-align: center;">
            {% assign sizes = product.variants | map: 'option2' | uniq %}
            {% for size in sizes %}
              <li>
                <span
                  class="card-size-swatch"
                  title="{{ size }}"
                  style="display: inline-block; padding: 6px 10px; border: 1px solid #ccc; border-radius: 10px; font-size: 10px; background: #f8f8f8; color: #333; text-align: center;"
                >
                  {{ size }}
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <div class="prod-detail">
      <div class="prod-title">
        <h4>
          <a href="{{ product.url }}">{{ product.title }}</a>
        </h4>
      </div>
      <div class="compare-price" id="productprice">
        {% if product.selected_or_first_available_variant.compare_at_price
            > product.selected_or_first_available_variant.price
        %}
          <span id="compareatprice2"
            ><del>
              {{- product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros -}}
            </del></span
          >
        {% endif %}
        <span id="price2">
          {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
        </span>

        <button
          class="compare-product-button"
          style="padding: 15px; border: 1px solid black;"
          data-product-id="{{ product.id }}"
          data-product-title="{{ product.title }}"
          data-product-vendor="{{ product.vendor }}"
          data-product-price="{{ product.price | money }}"
          data-product-type="{{ product.type }}"
          data-product-image="{{ product.featured_image | img_url: '300x' }}"
          data-product-services="{{ product.metafields.custom.services.value }}"
          data-product-product2="{{ product.metafields.custom.product2.value }}"
          data-product-product7="{{ product.metafields.custom.product7.value }}"
          data-product-test1="{{ product.metafields.custom.test1.value }}"
          data-product-heding_title="{{ product.metafields.custom.heding_title.value }}"
          data-product-available="{{ product.available }}"
        >
          Add to Compare
        </button>
      </div>
    </div>
  </div>
</div>

{% comment %}
  <script>
      window.ShopifyCart = {{ cart | json }};
    console.log(window.ShopifyCart);
  </script>
{% endcomment %}
