{% comment %} <div id="QuickView-{{ product.id }}" class="quick-view-modal" style="display:none;">
  <div class="quick-view-modal__content">
    <button class="quick-view-modal__close">✕</button>
    <div class="quick-view-modal__body">
      <div class="quick-view-modal__images">
        {%- for media in product.media -%}
          {% if forloop.first %}
            <img src="{{ media | image_url: width: 450 }}" alt="{{ media.alt }}" class="quick-view-modal__image">
          {% endif %}
        {%- endfor -%}
      </div>
      <div class="quick-view-modal__details">
        <h2 class="quick-view-modal__title">{{ product.title }}</h2>
        <p class="quick-view-modal__price">{{ product.price | money }}</p>
        <div class="quick-view-modal__form">
          {% form 'product', product, id: 'product-form-quickview' %}
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <button type="submit" name="add" class="button">Add to cart</button>
          {% endform %}
        </div>
        <a href="{{ product.url }}" class="quick-view-modal__link">View full details</a>
      </div>
    </div>
  </div>
</div> {% endcomment %}




<div id="QuickViewModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="quick-view-product-details">
      <!-- Product content will be loaded here via JavaScript -->
      {% comment %} <section class="product-details" data-section="main-product">
  <div class="product-details-inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-7 col-m-12">
          <div class="product-detail-img">
            {% if product.images.size > 0 %}
              <div class="top-slider slick-slider">
                {% for image in product.images %}
                  <div class="top-slider-inner" data-id="{{ image.id }}">
                    <div class="slide-img">
                      <img src="{{ image | image_url: width: 800 }}" alt="{{ image.alt | escape }}">
                    </div>
                  </div>
                {% endfor %}
              </div>

              <div class="bottom-slider slick-slider">
                {% for image in product.images %}
                  <div class="bottom-slider-inner" data-id="{{ image.id }}">
                    <div class="slide-img">
                      <img src="{{ image | image_url: width: 150 }}" alt="{{ image.alt | escape }}">
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="col-5 col-m-12">
          <div class="product-info-content">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'product_title' %}
                  {% if product.title != blank %}
                    <h1 class="h3">{{ product.title }}</h1>
                  {% endif %}
                  {% comment %} //meta Object {% endcomment %}
                  {% comment %}
                    {{ product.metafields.custom.heding_title.value }}==============
                    {{ product.metafields.custom.customerlove.value }}
                    {{ product.metafields.custom.accordian.value }}
                    {{ product.metafields.custom.demo1.value }}
                  {% endcomment %}

                  {% comment %} //metafields {% endcomment %}
                  {% comment %} {{ page.metafields.custom.pages1 }}          {% endcomment %}
                  {{ product.metafields.custom.test.value -}}
                  <br>
                  {{ product.metafields.custom.product.value -}}
                  <br>
                  Date:{{ product.metafields.custom.product2.value }}
                  <br>
                  Dimansions :{{ product.metafields.custom.product3.value }}

                  <br>
                  files:
                  {%- if product.metafields.custom.product5 != blank %}
                    {% assign product_image = product.metafields.custom.product5.value %}
                    <img
                      src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/titanwatch.webp?v=1756890025"
                      alt="product_image"
                      height="150px"
                    >
                  {% endif %}

                  {% if product.metafields.custom.product4 != blank %}
                    {% assign featured_product = product.metafields.custom.product4.value %}
                    <div>
                      <h3>Featured Product:</h3>
                      <a href="{{ featured_product.url }}">
                        <img
                          src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/w2_f5b42b36-4467-4a3c-8807-65ed9d666799.jpg?v=1757064549"
                          alt="{{ featured_product.title }}"
                          height="100px"
                        >
                        <h4>{{ featured_product.title }}</h4>
                      </a>
                    </div>
                  {% endif %}
                  <br>
                  variants :{{ product.metafields.custom.product6.value }}
                  <br>
                  money :{{ product.metafields.custom.product7.value }}
                  <br>
                  variant :{{ product.variant.metafields.custom.variant1.value }}
                  <br>

                {% when 'product_price' %}
                  <p class="product-price" id="ProductPrice">
                    <span id="Price">
                      {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
                    </span>
                    {% if product.selected_or_first_available_variant.compare_at_price
                        > product.selected_or_first_available_variant.price
                    %}
                      <del id="CompareAtPrice">
                        {{
                          product.selected_or_first_available_variant.compare_at_price
                          | money_without_trailing_zeros
                        }}
                      </del>
                    {% endif %}
                  </p>

                {% when 'color_swatch' %}
                  {% unless product.has_only_default_variant %}
                    {% for option in product.options_with_values %}
                      <div class="select-option">
                        <h5>STEP {{ forloop.index }}, SELECT A {{ option.name }}</h5>
                        <div class="shop-by-color {% unless option.name == 'Color' %}size-option{% endunless %}">
                          <ul>
                            {% for value in option.values %}
                              <li>
                                <input
                                  type="radio"
                                  value="{{ value }}"
                                  name="{{ option.name | handle }}"
                                  id="{{ option.name | handle }}-{{ forloop.index }}"
                                  {% if option.selected_value == value %}
                                    checked
                                  {% endif %}
                                >
                                <label
                                  class="card-color-swatch"
                                  for="{{ option.name | handle }}-{{ forloop.index }}"
                                  {% if option.name == 'Color' %}
                                    style="background-color: {{ value | downcase }};"
                                  {% endif %}
                                >
                                  {% unless option.name == 'Color' %}
                                    <span>{{ value }}</span>
                                  {% endunless %}
                                </label>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    {% endfor %}
                  {% endunless %}
                  {% for option in item.product.options_with_values %}
                    <div class="cart-prod-option">
                      <p>
                        <strong>{{ option.name }}:</strong>
                        <span>{{ item.variant.options[forloop.index0] }}</span>
                      </p>
                    </div>
                  {% endfor %}

                  <form method="post" action="/cart/add" id="main-product-form">
                    <!-- upsell/checked products -->
                    <div class="product" style="display:flex; position:relative">
                      {% for upsell in collections['you-may-also-like'].products %}
                        <div class="add-product" style="border: 1px solid black; margin: 5px; padding: 15px 25px">
                          {{ upsell.featured_media | image_url: width: 120 | image_tag }}
                          <h5>{{ upsell.title }}</h5>

                          <input
                            type="checkbox"
                            class="add-checkbox"
                            value="{{ upsell.selected_or_first_available_variant.id }}"
                            id="add-{{ forloop.index }}"
                            style="position:absolute; bottom:35px;"
                          >
                          <!-- default qty = 1 -->
                          <input type="hidden" name="items[1][quantity]" value="1">
                          <label for="add-{{ forloop.index }}" style="position:absolute; bottom:30px;">Add</label>
                        </div>
                      {% endfor %}
                    </div>
                    <div class="select-addtocart">
                      <!-- main product -->
                      <input
                        type="hidden"
                        name="items[0][id]"
                        id="selected-variant-id"
                        value="{{ product.selected_or_first_available_variant.id }}"
                      >

                      <input type="hidden" name="[quantity]" class="main-product">

                      <div class="quantity-box">
                        <div class="quantity-wrap">
                          <span id="sub" class="adjust minus">
                            <img
                              src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/minus.png?v=1752137483"
                              alt="Minus sign"
                            >
                          </span>
                          <input
                            name="items[0][quantity]"
                            class="count"
                            type="number"
                            value="1"
                          >
                          <span id="add" class="adjust plus">
                            <img
                              src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/plus.png?v=1752137500"
                              alt="Plus sign"
                            >
                          </span>
                        </div>
                      </div>

                      <!-- submit buttons -->
                      <div class="addtocart-btn">
                        <button type="submit" class="btn btn-pink" id="AddToCartButton">Add to cart</button>
                        <button type="submit" name="return_to" value="/checkout" class="btn btn-black">
                          BUY IT NOW
                        </button>
                        <span id="SoldOutText" style="display: none; color: red; font-weight: bold; margin-top: 10px;">
                          Sold Out
                        </span>
                      </div>
                    </div>
                  </form>
                {% when 'description' %}
                  <div class="prod-desc rte">
                    {{ product.description }}
                  </div>
                  {% comment %} {{ product.metaobject.content.the-lbe-design-promise }}=============== {% endcomment %}

                {% when 'extra_details' %}
                  <div class="specification">
                    <div class="spec-detail">
                      <h6>Dimensions</h6>
                      <div class="spec-info">
                        <img
                          src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/dimension.png?v=1752141079"
                          alt="Dimension"
                        >
                      </div>
                    </div>
                    <div class="spec-detail">
                      <h6>Shipping and Return Policy</h6>
                      <div class="spec-info">
                        <p>Lorem ipsum dolor sit</p>
                      </div>
                    </div>
                    <div class="review">
                      <h6>
                        <img
                          src="https://cdn.shopify.com/s/files/1/0640/4839/8454/files/star.png?v=1752141092"
                          alt="review"
                        >
                        2 Reviews
                      </h6>
                      <div class="spec-info">
                        <p>Lorem ipsum dolor sit</p>
                      </div>
                    </div>
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}

    </div>
  </div>
</div>
